/* VAR */
:root {
    --ms_bg_gray-color: #d7dbd6;
    --ms_bg_green-color: #009688;
    --ms_icon_color: #b1b1b1;
}



/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

html {
    font-family: Lato, Helvetica, sans-serif;
    overflow: auto;
}

i {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--ms_icon_color)
}

a {
    color: #6b7376;
}

/*containers*/
.boolzapp {
    background-image: linear-gradient( var(--ms_bg_green-color)20%, var(--ms_bg_gray-color) 20%) ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 800px;
    
}
.container {
    height: 600px;
    width: 80%;
    background-color: white
   
}

/* header */
.header {
    height: 55px;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

/*section1 / Lista contatti */
.section1 {
    width: 35%;
    height: 100%;
    border-right: 1px solid #b1b1b1;
    float: left;
}

.item-left {
    display: flex;
    align-items: center;
}

.item-right {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
 
.myAvatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.disclaimer {
    height: 55px;
    width: 100%;
    background-color: #8edafc;
    display: flex;
    align-items: center;
}

.disclaimer-text {
    font-size: 70%;
    margin-left: 10px;
}

#bell-icon {
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.contact-list {
    overflow-y: scroll;
}

.contact {
    height: 55px;
    width: 100%;
    border-top: var(--ms_bg_gray-color) solid 1px;
    display: flex;
}

.contact img {
    margin-left: 10px;
}

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 10px;
}

.contact-search{
    background-color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #f1f1f1;
    margin-left: 10px;
}

.contact-search input {
    width: 97%;
    height: 27px;
    border: #f1f1f1;
}

.contact-active {
    background-color: var(--ms_bg_gray-color);
}

/*Section 2 / Chat */
.section2 {
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
    float: right;
}

.chat {
    height: calc(100% - 110px);
    overflow-y: scroll;
    overflow-x:hidden;
    padding-top: 30px;
}

.receveid {
    background-color: #d5f9ba;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    min-width: 40%;
    max-width: 40%;
    position: relative;
    left: 50%;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 70%;
  
}

.sent {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    min-width: 40%;
    max-width: 40%;
    position: relative;
    left: 5%;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 70%;
}

.mess-time {
    font-size: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 10px 5px 0px ;
}

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3eeea;
    height: 55px;
}

.chat-input input{
    width: 80%;
    height: 70%;
    border: var(--ms_icon_color);
    padding-left: 10px;
    margin: 10px 10px;
    border-radius: 8px;
}
.chat-input i {
    color: #6b7376;
}

.name {
    font-size: 80%;
    padding-top: 10px;
    padding-left: 5px;
    width: 100%;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: var(--ms_icon_color);
    font-size: 60%;
    width: 100%;
    padding-right: 10px;
    padding-top: 10px;
}








